

<div class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/"></a></li>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/blog">Blog</a></li>
      <li class="is-active"><a href="#" aria-current="page">{{ article.title }}</a></li>
    </ul>
  </nav>

  <div class="box is-centered">
    <p class="title has-text-centered">{{ article.title }}</p>
    <div>
            {{ article?.toLocaleString  }}
      <!--      {{ article?.created_date.toDate() | date:"yyyy/MM/dd HH:mm" }}-->
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile">
    </div>
    <div class="tile is-parent is-8">
      <div class="tile is-child box">

        <div class="content is-medium">

          <markdown [data]=" article.content " ngPreserveWhitespaces></markdown>
        </div>
      </div>
    </div>

    <div class="tile"></div>

  </div>
</div>



