
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a title="blank" routerLink="/"></a></li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/blog">Blog</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ article.title }}</a></li>
  </ul>
</nav>
<div class="container">


  <div class="box is-centered">
    <p class="title has-text-centered">{{ article.title }}</p>
    <div>
            {{ article?.toLocaleString  }}
      <!--      {{ article?.created_date.toDate() | date:"yyyy/MM/dd HH:mm" }}-->
    </div>
    <div class="title has-text-right">
      <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-normal" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile">
    </div>
    <div class="tile is-parent is-8">
      <div class="tile is-child box">

        <div class="content is-medium">

          <markdown [data]=" article.content " ngPreserveWhitespaces></markdown>
        </div>
      </div>
    </div>

    <div class="tile"></div>

  </div>
</div>



