<div class="wrapper">
  <main>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>

  <section class="hero is-small is-primary">
    <div class="hero-body">
      <p class="title">
        muzigen.net
      </p>
      <p class="subtitle">
        muzigen.net blog
      </p>
    </div>
  </section>
  <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a href="https://muzigen.net">muzigen.net</a>
      </p>
    </div>
  </footer>

</div>
